.example-spacer {
  flex: 1 0;
}

/* material-section.component.css */
.section-container {
  position: relative;
}

.top-right-image {
  position: absolute;
  right: 0;
  width: 100px; /* Adjust the width of the image */
  height: auto;
  margin-right: 13%;
}

.a4-container {
  width: 210mm;
  height: 297mm;
  border: 1px solid #000; /* Optional: Add a border for visualization */
  box-sizing: border-box;
}
.form-container{
  margin-top: 55px;
  margin-left: 50px;
}





