<!-- your.component.html or any other component -->
<div *ngIf="isHome()" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1 class="text-element">My Letters</h1>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3 create-class">
      <digex-task-button routerLink="/create" [buttonText]="buttonText"></digex-task-button>
    </div>
  </div>
  @if(letters.length!=0){
    <div class="row" style="margin-bottom: 40%;">
      @for (letter of letters; track letter.id){
        <div class="col-2 mb-4">
          <digex-task-card [count]="letter.id" [first_line]="letter.receiverAddress|firstLine" [Subject]="letter.subject" ></digex-task-card>
        </div>
      }
    </div>
  }

</div>
<router-outlet></router-outlet>


